[safe]
	directory = /storage/emulated/0/Download/oyster_website
	directory = /storage/emulated/0/Download/oyster_website
	directory = /storage/emulated/0/Download/oyster_website/www.oyster.com
[user]
	email = saeid.b652000@gmail.com
	name = saeidbahali
